
.card-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .left-section {
    flex: 1;
    width: 60%; /* Adjust the width as needed */
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .right-section {
    flex: 1;
    padding-left: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .rating {
    font-size: 16px;
  }
  
.additional-lines {
    margin-top: 20px;
  }
  
  .offer-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .view-more-offers {
    font-size: 16px;
    color: #007bff; 
    cursor: pointer;
    margin-top: 10px;
  }
  @media (min-width: 768px) {
    .card-details-container {
      flex-direction: row; 
    }
  
    .left-section,
    .right-section {
      width: 50%; 
    }
  }